<%- include('../partials/head.ejs') %>

<h1>My Awesome Dev Skills</h1>

<% skills.forEach((skill)=>{ %>
<a href="/skills/<%= skill.id %>">
  <li><%= skill.name %></li>
</a>

<% }); %>
<a href="/skills/add">Add Skill...</a>
<%- include('../partials/foot.ejs') %>
